<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Password Reset
                                
                    
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="../public/script/validation.js"></script>
        <script src="../public/script/Script.js"></script>
        <link href="../public/css/style.css" rel="stylesheet">
    </head>
    <body>
        <section class="vh-100">
            <div class="toast" role="alert" style="position: absolute; right: 80px; top: 30px; margin-right: 10px;" aria-live="assertive" aria-atomic="true">
                <div class="toast-header"></div>
                <div class="toast-body"></div>
            </div>
            <form method="post" id="newPassword" action="password.php">
                <div class="container py-5 h-100">
                    <div class="modal-dialog" style="width: 300px;">
                        <div class="modal-content text-center">
                            <div class="modal-header h5 text-white bg-primary justify-content-center">
                                New Password Reset                                                                                        
                                                            
                            </div>
                            {% for row in result %}
                                <input type="hidden" id="uid" name="uid" value="{{ row.uid }}" readonly>
                                <div class="mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <input type="hidden" name="email" value="{{ row.email }}" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-outline">
                                <input type="password" id="password" class="form-control my-3" name="password" placeholder="New Password">
                                <label class="form-label" for="inputPassword">
                                    New Password
                                                                                                            
                                                                    
                                </label>
                                <div id="password-error" class="text-danger"></div>
                            </div>
                            <div class="form-outline">
<input type="password" id="confirm_password" class="form-control my-3" name="confirm_password" placeholder="Confirm Password">
    
                                <label class="form-label" for="confirmPassword">
                                    Confirm Password
                                                                                                            
                                                                    
                                </label>
<div id="confirm_password" class="text-danger"></div>

                            </div>
                            <button type="submit" class="btn btn-danger w-100">
                                Reset Password
                                                                                                
                                                            
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html></section></body></html>